{% extends "index.html" %}

{% block header %}
<header>
     <script type="text/javascript">
                    function toggleAudit(){
                        if ($(".auditSQL").hasClass("hidden")){
                            $(".auditSQL").removeClass("hidden");
                        }else{
                            $(".auditSQL").addClass("hidden");
                        }
                    }
     </script>
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid">
            <span class="hidden-xs h1">Results from Scan</span>
            <button class="btn btn-info" style="float: right" name="audit" onclick="toggleAudit()">Show Audit SQL</button>
        </div>
    </nav>
    <div id="below-header">
        {% load staticfiles %}
    </div>
</header>
{% endblock %}