{% extends "header.html" %}

{% block header_btn1 %} crnt_btn_nav {% endblock %}

{% block content %}
<div style="margin-top: 40px;" class="container">
	<div class="table-responsive">
  		<table class="table cedoorLinks">
  			<thead class="visible-xs">
				<tr>
				    <th style="border: 0; font-size: 22px">Links</th>
				</tr>
			</thead>
	    	<tbody>
	      		<tr align="center">
			        <td width="20%">
			        	<a href="http://www.github.com/cedoor" target="_blank">
			        		<i class="fa fa-github"></i><span class="hidden-xs"> | Github</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://twitter.com/cedoor9" target="_blank">
			        		<i class="fa fa-twitter"></i><span class="hidden-xs"> | Twitter</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://www.facebook.com/lodmy94" target="_blank">
			        		<i class="fa fa-facebook"></i><span class="hidden-xs"> | Facebook</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://plus.google.com/u/0/103201614169476723365" target="_blank">
			        		<i class="fa fa-google"></i><span class="hidden-xs"> | Google</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://www.linkedin.com/profile/edit?locale=it_IT&trk=profile-preview" target="_blank">
			        		<i class="fa fa-linkedin"></i><span class="hidden-xs"> | Linkedin</span>
			        	</a>
			        </td>
	      		</tr>
	    	</tbody>
  		</table>
	</div>
	<div class="table-responsive">
  		<table style="margin-bottom: 0" class="table">
  			<thead>
				<tr>
				    <th style="border: 0; font-size: 22px">About me</th>
				</tr>
			</thead>
  			<tbody>
	      		<tr>
			        <td>
			        	<div class="table-responsive">
					  		<table class="table">
					  			<thead>
							      <tr>
							        <th style="border: 0">#!/bin/bash</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								        <td>Name :</td>
								        <td>Omar Desogus</td>
								      </tr>
								      <tr>
								        <td>Email :</td>
								        <td>omardesogus9@gmail.com</td>
								      </tr>
								      <tr>
								        <td>Born on :</td>
								        <td>22 April 1994</td>
								      </tr>
								      <tr>
								        <td>I live in :</td>
								        <td>Cagliari, Sardinia, Italy</td>
								      </tr>
	    						</tbody>
							</table>
						</div>
						<div class="table-responsive visible-xs">
					  		<table class="table">
					  			<thead>
							      <tr>
							        <th style="border: 0">>_</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								    	<td>University :</td>
								    	<td>Computer science</td>
								    </tr>
								    <tr>
								    	<td>Languages :</td>
								    	<td>Italian, English</td>
								    </tr>
								    <tr>
								    	<td>Os :</td>
								    	<td>Gnu/Linux, Debian<i class="fa fa-linux"></i></td>
								    </tr>
	    						</tbody>
							</table>
						</div>
					</td>
					<td class="hidden-xs">
						<div class="table-responsive">
					  		<table class="table">
					  			<thead>
							      <tr>
							        <th style="border: 0">>_</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								    	<td>University :</td>
								    </tr>
								    <tr>
								        <td><i class="fa fa-caret-right"></i>Cagliari, Computer science</td>
								    </tr>
								    <tr>
								    	<td>Languages : Italian, English</td>
								    </tr>
								    <tr>
								    	<td>Os : Gnu/Linux, Debian <i class="fa fa-linux fa-lg"></i></td>
								    </tr>
	    						</tbody>
							</table>
						</div>
			        </td>
			        <td width="30%" class="hidden-xs hidden-sm">
				        <blockquote style="font-size: 15px">
							<p>There aren't difficult problems, only problems that
				                are difficult to a certain level of intelligence.
				                Make even the smallest step up (in level of intelligence),
				                and some problems will pass suddenly from "impossible" to "obvious".
				                Take a big step forward, and all will become obvious.</p>
							<footer>Staring into the Singularity,<cite title="Author">Yudkowsky</cite></footer>
						</blockquote>
			        </td>
	      		</tr>
	    	</tbody>
		</table>
	</div>
	<table class="table visible-xs visible-sm">
		<tbody>
			<tr>
	      		<td>
			        <blockquote style="font-size: 15px">
						<p>There aren't difficult problems, only problems that
				               are difficult to a certain level of intelligence.
				               Make even the smallest step up (in level of intelligence),
				               and some problems will pass suddenly from "impossible" to "obvious".
				               Take a big step forward, and all will become obvious.</p>
						<footer>Staring into the Singularity,<cite title="Author">Yudkowsky</cite></footer>
					</blockquote>
			    </td>	
	      	</tr>
	      </tbody>
	</table>
	<div class="table-responsive">
    	<table class="table">
    		<thead>
				<tr>
				    <th style="border: 0; font-size: 22px">Skills & Endorsements</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			    	<td>  			
						<table style="margin-bottom: 0" class="table">
							<thead>
				    			<tr>
				        			<th style="border: 0">Programming</th>
				    			</tr>
							</thead>
					  			<tbody>
					  				<tr>
					  					<td>
									    	<ul class="list-group">
												<li class="list-group-item">C</li>
											  	<li class="list-group-item">Java</li>
											  	<li class="list-group-item">Python</li>
											  	<li class="list-group-item">Ocaml</li>
											  	<li class="list-group-item">Php</li>
											  	<li class="list-group-item">Javascript</li>
											</ul>
					  					</td>
					  					<td>
					  						<ul class="list-group">
												<li class="list-group-item">Bash-scripting</li>
											  	<li class="list-group-item">Html</li>
											  	<li class="list-group-item">Css</li>
											  	<li class="list-group-item">Mysql</li>
											</ul>
					  					</td>
					  				</tr>
								</tbody>
							</table>
			      		</td>	
			      		<td class="hidden-xs">
			      			<table class="table">
							  		<thead>
				    				<tr>
				        				<th style="border: 0">Frameworks, libraries & other</th>
				    				</tr>
								</thead>
							  	<tbody>
							  		<tr>
							  			<td>
											<ul class="list-group">
												<li class="list-group-item">Jquery</li>
												<li class="list-group-item">Gtk</li>
												<li class="list-group-item">Django</li>
												<li class="list-group-item">Bootstrap</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
			      		</td>	
			      	</tr>
			      	<tr class="visible-xs">
			      		<td>
			      			<table style="margin-bottom: 0" class="table">
							  		<thead>
				    				<tr>
				        				<th style="border: 0">Frameworks, libraries & other</th>
				    				</tr>
								</thead>
							  	<tbody>
							  		<tr>
							  			<td>
											<ul class="list-group">
												<li class="list-group-item">Jquery</li>
												<li class="list-group-item">Gtk</li>
												<li class="list-group-item">Django</li>
												<li class="list-group-item">Bootstrap</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
			      		</td>
			      	</tr>
			    </tbody>
		</table>	
	</div>
</div>
<footer>
	<div class="container text-center">
    	<table class="table">
    		<tbody>
    			<tr>
    				<td>
    					<a href="http://www.omardesogus.com">Omar Desogus</a>
    				</td>
    				<td>
						Copyright (c) 2015 Cedoor
    				</td>
    			</tr>
    		</tbody>
    	</table>
	</div>
</footer>
{% endblock %}
