{% extends "header.html" %}

{% block header_btn1 %} crnt_btn_nav {% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="container">
	
	<div style="font-size: 16px" class="table-responsive">
  		<table class="table">
	    	<tbody>
	      		<tr align="center">
			        <td width="20%"><i class="fa fa-github"></i> | 
			        	<a href="http://www.github.com/cedoor" target="_blank">Github</a>
			        </td>
			        <td width="20%"><i class="fa fa-twitter"></i> | 
			        	<a href="https://twitter.com/cedoor9" target="_blank">Twitter</a>
			        </td>
			        <td width="20%"><i class="fa fa-facebook"></i> | 
			        	<a href="https://www.facebook.com/lodmy94" target="_blank">Facebook</a>
			        </td>
			        <td width="20%"><i class="fa fa-google"></i> | 
			        	<a href="https://plus.google.com/u/0/103201614169476723365" target="_blank">Google</a>
			        </td>
			        <td width="20%"><i class="fa fa-linkedin"></i> | 
			        	<a href="http://www.github.com/cedoor" target="_blank">Linkedin</a>
			        </td>
	      		</tr>
	    	</tbody>
  		</table>
	</div>

			<div style="max-width: 600px" class="panel panel-success">
			  	<div align="center" class="panel-heading">Profile</div>
			  	<ul class="list-group">
			    	<li class="list-group-item">Cras justo odio</li>
			    	<li class="list-group-item">Dapibus ac dwadadadwaddaw facilisis in</li>
			    	<li class="list-group-item">Morbi leo risus</li>
			    	<li class="list-group-item">Porta ac consectetur ac</li>
			    	<li class="list-group-item">Vestibulum at eros</li>
			  	</ul>
			  	<div class="panel-body">
			    	<p>...</p>
			  	</div>
			</div>
</div>
{% endblock %}
