{% extends "header.html" %}

{% block header_btn1 %} crnt_btn_nav {% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="container">
	<div style="font-size: 16px" class="table-responsive">
  		<table class="table cedoorLinks">
	    	<tbody>
	      		<tr align="center">
			        <td width="20%">
			        	<a href="http://www.github.com/cedoor" target="_blank">
			        		<i class="fa fa-github"></i><span class="hidden-xs"> | Github</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://twitter.com/cedoor9" target="_blank">
			        		<i class="fa fa-twitter"></i><span class="hidden-xs"> | Twitter</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://www.facebook.com/lodmy94" target="_blank">
			        		<i class="fa fa-facebook"></i><span class="hidden-xs"> | Facebook</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://plus.google.com/u/0/103201614169476723365" target="_blank">
			        		<i class="fa fa-google"></i><span class="hidden-xs"> | Google</span>
			        	</a>
			        </td>
			        <td width="20%">
			        	<a href="https://www.linkedin.com/profile/edit?locale=it_IT&trk=profile-preview" target="_blank">
			        		<i class="fa fa-linkedin"></i><span class="hidden-xs"> | Linkedin</span>
			        	</a>
			        </td>
	      		</tr>
	    	</tbody>
  		</table>
	</div>
	<div class="table-responsive">
  		<table class="table cedoorLinks">
  			<tbody>
	      		<tr align="center">
			        <td>
			        	<div class="table-responsive">
					  		<table class="table cedoorLinks">
					  			<thead>
							      <tr>
							        <th style="border: 0">#!/bin/bash</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								        <td>Name :</td>
								        <td>Omar Desogus</td>
								      </tr>
								      <tr>
								        <td>Email :</td>
								        <td>omardesogus9@gmail.com</td>
								      </tr>
								      <tr>
								        <td>Born on :</td>
								        <td>22 April 1994</td>
								      </tr>
								      <tr>
								        <td>I live in :</td>
								        <td>Cagliari, Sardinia, Italy</td>
								      </tr>
	    						</tbody>
							</table>
						</div>
						<div class="table-responsive visible-xs">
					  		<table class="table cedoorLinks">
					  			<thead>
							      <tr>
							        <th style="border: 0">>_</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								    	<td>University of Cagliari :</td>
								    	<td>Computer science</td>
								    </tr>
								    <tr>
								    	<td>Languages :</td>
								    	<td>Italian, English</td>
								    </tr>
								    <tr>
								    	<td>Os :</td>
								    	<td>Gnu/Linux, Debian </td>
								    </tr>
	    						</tbody>
							</table>
						</div>
					</td>
					<td class="hidden-xs">
						<div class="table-responsive">
					  		<table class="table cedoorLinks">
					  			<thead>
							      <tr>
							        <th style="border: 0">>_</th>
							      </tr>
							    </thead>
					  			<tbody>
						      		<tr>
								    	<td>University of Cagliari :</td>
								    </tr>
								    <tr>
								        <td><i class="fa fa-caret-right"></i> Computer science</td>
								    </tr>
								    <tr>
								    	<td>Languages : Italian, English</td>
								    </tr>
								    <tr>
								    	<td>Os : Gnu/Linux, Debian </td>
								    </tr>
	    						</tbody>
							</table>
						</div>
			        </td>
			        <td class="hidden-xs hidden-sm">
			        	<div style="max-width: 400px" class="panel panel-success">
						  	<div class="panel-heading">Citazione</div>
						  	<div class="panel-body">
						    	<p>There aren't difficult problems, only problems that are difficult to a certain level of intelligence. Make even the smallest step up (in level of intelligence), and some problems will pass suddenly from "impossible" to "obvious". Take a big step forward, and all will become obvious.</p>
						  	</div>
						</div>
			        </td>
	      		</tr>
	    	</tbody>
		</table>
		<table class="table">
			<tbody>
				<tr align="center" class="visible-xs visible-sm">
	      			<td width="100%">
			        	<div style="max-width: 400px;" class="panel panel-success">
						  	<div class="panel-heading">Citazione</div>
						  	<div class="panel-body">
						    	<p>There aren't difficult problems, only problems that are difficult to a certain level of intelligence. Make even the smallest step up (in level of intelligence), and some problems will pass suddenly from "impossible" to "obvious". Take a big step forward, and all will become obvious.</p>
						  	</div>
						</div>
			        </td>	
	      		</tr>
	      	</tbody>
		</table>
	</div>
</div>
{% endblock %}
